*.zip
NTFSSecurity/PrivilegeControl.dll
NTFSSecurity/NTFSSecurity.types.ps1xml
NTFSSecurity/ProcessPrivileges.dll
NTFSSecurity/ProcessPrivileges.pdb
NTFSSecurity/PrivilegeControl.pdb
NTFSSecurity/NTFSSecurity.psd1
NTFSSecurity/NTFSSecurity.pdb
NTFSSecurity/Security2.dll
NTFSSecurity/NTFSSecurity.dll
NTFSSecurity/NTFSSecurity.Init.ps1
NTFSSecurity/NTFSSecurity.format.ps1xml
NTFSSecurity/NTFSSecurity-Help.xml
NTFSSecurity/Security2.pdb
NDP451-KB2858728-x86-x64-AllOS-ENU.exe
Windows6.1-KB2819745-x64-MultiPkg.msu
Windows6.1-KB958830-x64-RefreshPkg.msu
*.tmp